:root {
    --scrollspeed: 120s;
}

body {
    background-color: black;
    font-family: "Helvetica Neue LT Pro", sans-serif;
    justify-self: center;
    justify-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
}

h1 {
    font-weight: 500;
}

p {
    font-size: 20px;
}

.marquee {
    position: relative;
    background: white;
    font-size: 1.5em;
    color: black;
    display: flex;
    overflow: hidden;
    padding: 10px 0;
    margin-bottom: 20px;
    margin-top: 20px;
}

.marquee-mini {
    height: 5px;
    background: rgb(255, 0, 0);
    border: 1px solid white;
    align-items: center;
    font-size: 0.5em;
    display: flex;
    overflow: hidden;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.marquee-content {
    flex-shrink: 0;
    display: flex;
    font-size: 2em;
    animation: scroll var(--scrollspeed) linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.container {
    background-color: white;
    padding: 20px;
    text-align: center;
    justify-self: center;
    width: 75vw;
    margin: auto;
}

.section-title {
    display: flex;
    border-radius: 10px;
    background-color: white;
    justify-self: stretch;
    margin: 20px;
    padding: 10px;
    justify-content: center;
}

.cardsbox {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.card {
    margin: 20px;
    position: relative;
    width: 300px;
    padding: 10px;
}

.mdc {
    background-color: red;
    color: white;
}

.mdc>h1 {
    font-weight: 750;
}

.mdc>button {
    font-family: "Helvetica Neue LT Pro", sans-serif;
    font-weight: 750;
    border-width: 2px;
    border-style: solid;
    font-size: 3em;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    border-color: red;
    color: red;
    background-color: white;
    margin-bottom: 20px;
}

.mdc>button:hover {
    background-color: red;
    color: white;
    border-color: white;
}

.grg {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 25px;
    transition: transform 0.1s;
    width: 300px;
}

.grg:hover {
    transform: scale(1.05);
}

.grg>h1 {
    font-weight: 700;
    margin-bottom: 10px;
}

.grg>button {
    font-size: 2em;
    padding: 20px 40px;
    border-radius: 25px;
    background-color: white;
    color: black;
    border: 2px solid black;
    cursor: pointer;
    transition: transform 0.1s
}

.grg>button:hover {
    transform: scale(1.05);
}

.grg>h6 {
    font-weight: normal;
    margin-top: 0px;
}

.grg>p {
    margin-bottom: 0px;
    margin-top: 0px;
    border-radius: 25px;
    background-color: white;
    padding: 20px 40px;
    border: 2px solid black;
    transition: transform 0.1s;
}

.myocst {
    background-color: lightgoldenrodyellow;
    font-family: "Playpen Sans", sans-serif;
    padding: 20px;
    transition: background-color 1s, border-color 1s;
    border: 2px solid black;
}

.myocst>h1 {
    background-color: goldenrod;
    margin-left: -20px;
    margin-right: -20px;
}

.myocst>p {
    margin-bottom: 10px;
}

.myocst>button {
    font-family: "Playpen Sans", sans-serif;
    padding: 20px;
    transition: transform 0.1s;
    font-size: 16px;
    max-width: 45%;
    border-width: 4px;
    border-style: dashed;
    display: initial;
}

.myocst>button:hover {
    transform: scale(1.05) translateY(-5px);
}

.ben {
    background-color: white;
    padding: 20px;
    font-family: "TRIAL Rooftop", sans-serif;
    font-weight: 300;
    background-color: burlywood;
    border-radius: 100px;
}

.ben>h1 {
    font-weight: 400;
}

.ben>button {
    font-family: "TRIAL Rooftop", sans-serif;
    background-color: brown;
    color: white;
    padding: 20px;
    font-size: 20px;
    margin: 5px;
    border: 2px dotted beige;
    transition: transform 0.1s;
}

.ben>button:hover {
    transform: scale(0.95)
}

.ben>button:active {
    transform: scale(1.1);
}

.ben>.benOverlay {
    position: absolute;
    z-index: 10;
    left: 0;
    bottom: 0;
    background-color: saddlebrown;
    color: white;
    align-content: center;
    padding: 20px;
    align-self: center;
    justify-self: center;
    opacity: 0%;
    display: none;
    transition: opacity 0.5s;
    border-radius: 100px;
}

.ffn {
    font-family: 'Comfortaa', sans-serif;
    background-color: #f1e1dd;
    color: #1c1c1c;
    padding: 20px;
    align-content: center;
}

.ffn>h1 {
    font-family: 'Chelsea Market', sans-serif;
    color: #734332;
}

.ffn>button {
    font-family: 'Comfortaa', sans-serif;
    background-color: #734332;
    color: white;
    padding: 20px;
    border-style: none;
    border-radius: 10px;
    font-size: 20px;
    transition: background-color 0.1s, box-shadow 0.1s, transform 0.1s;
}

.ffn>button:hover {
    background-color: #583427;
    box-shadow: 1px 1px 5px black;
}

.ffn>button:active {
    transform: scale(1.1);
}

.ffn>img {
    width: 100px;
}

.yt {
    padding: 20px;
    background-color: whitesmoke;
    border: 4px dashed red;
    align-content: center;
}

.yt:hover {
    border: 4px solid red;
}

.yt>button {
    padding: 20px;
    border: 2px dotted black;
    font-size: 20px;
    background-color: lightgoldenrodyellow;
    transition: background-color 0.1s;
}

.yt>button:hover {
    border: 2px solid black;
    background-color: gold;
}

.footer {
    color: black;
    background-color: white;
    padding: 20px;
    transition: background-color 0.2s, text-shadow 0.2s;
}

.footer:hover {
    background-color: lightgreen;
    text-shadow: 2px 2px gray;
}

.footerLinks {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
}

.footerIcon,
.footerText {
    width: 100px;
    height: 100px;
    margin: 20px;
    position: relative;
    transition: transform 0.2s;
}

.footerIcon>img {
    width: 100%;
    height: 100%;
}

.footerIcon:hover {
    transform: scale(1.1) translateY(-10px);
}

.footerText {
    background-color: black;
    align-content: center;
    color: white;
    padding: 10px;
}